html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Container */

.container {
  padding: 0.01em 16px;
}
.container:after,
.container:before {
  content: "";
  display: table;
  clear: both;
}

/* Width */

.width-100 {
  width: 100%;
}
.width-75 {
  width: 75%;
}
.width-50 {
  width: 50%;
}
.width-25 {
  width: 25%;
}
.width-auto {
  width: auto;
}

/* Grid */

.row {
  display: flex;
  flex-direction: initial;
  padding: 0;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  /* border: rgb(37, 37, 37) 1px solid; */
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-80 {
  width: 80%;
}
.col-90 {
  width: 90%;
}
.col-100 {
  width: 100%;
}

/* 12 cols */

.col-1-12 {
  width: 8.33333%;
}
.col-2-12 {
  width: 16.6667%;
}
.col-3-12 {
  width: 25%;
}
.col-4-12 {
  width: 33.3333%;
}
.col-5-12 {
  width: 41.6667%;
}
.col-6-12 {
  width: 50%;
}
.col-7-12 {
  width: 58.3333%;
}
.col-8-12 {
  width: 66.6667%;
}
.col-9-12 {
  width: 75%;
}
.col-10-12 {
  width: 83.3333%;
}
.col-11-12 {
  width: 91.6667%;
}
.col-12-12 {
  width: 100%;
}

/* Margin */

.margin-small {
  margin: 0.25em;
}
.margin-bottom-small {
  margin-bottom: 0.25em;
}
.margin-top-small {
  margin-top: 0.25em;
}
.margin-left-small {
  margin-left: 0.25em;
}
.margin-right-small {
  margin-right: 0.25em;
}
.margin {
  margin: 0.5em;
}
.margin-bottom {
  margin-bottom: 0.5em;
}
.margin-top {
  margin-top: 0.5em;
}
.margin-left {
  margin-left: 0.5em;
}
.margin-right {
  margin-right: 0.5em;
}
.margin-large {
  margin: 1em;
}
.margin-bottom-large {
  margin-bottom: 1em;
}
.margin-top-large {
  margin-top: 1em;
}
.margin-left-large {
  margin-left: 1em;
}
.margin-right-large {
  margin-right: 1em;
}
.no-margin {
  margin: 0em !important;
}

/* Padding */

.padding-small {
  padding: 0.25em;
}
.padding-bottom-small {
  padding-bottom: 0.25em;
}
.padding-top-small {
  padding-top: 0.25em;
}
.padding-left-small {
  padding-left: 0.25em;
}
.padding-right-small {
  padding-right: 0.25em;
}
.padding {
  padding: 0.5em;
}
.padding-bottom {
  padding-bottom: 0.5em;
}
.padding-top {
  padding-top: 0.5em;
}
.padding-left {
  padding-left: 0.5em;
}
.padding-right {
  padding-right: 0.5em;
}
.padding-large {
  padding: 1em;
}
.padding-bottom-large {
  padding-bottom: 1em;
}
.padding-top-large {
  padding-top: 1em;
}
.padding-left-large {
  padding-left: 1em;
}
.padding-right-large {
  padding-right: 1em;
}
.no-padding {
  padding: 0em !important;
}

/* font */

.font-small {
  font-size: x-small;
}
.font-regular {
  font-size: initial;
}
.font-large {
  font-size: x-large;
}

/* Float */

.container-left {
  float: left !important;
}
.container-right {
  float: right !important;
}
.container-center {
  margin: auto;
  justify-content: center;
}

/* Borders */

.no-border {
  border: 0;
}
.border {
  border: 1px solid !important;
}
.border-top {
  border-top: 1px solid !important;
}
.border-bottom {
  border-bottom: 1px solid !important;
}
.border-left {
  border-left: 1px solid !important;
}
.border-right {
  border-right: 1px solid !important;
}

/* text */

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-justify {
  text-align: justify;
}
.txt-normal {
  font-style: normal;
}
.txt-italic {
  font-style: italic;
}
.txt-bold {
  font-weight: bold;
}

/* various */

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden {
  display: none !important;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* media */


/* Media Query for Mobile Devices */

@media only screen and (max-width: 480px) {
  [class*="col-"] {
    width: 100%;
  }
  [class*="width-"] {
    width: 100%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */

@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellow;
  }
}

/* Media Query for Tablets Ipads portrait mode */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}

/* Media Query for Laptops and Desktops */

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: green;
  }
}

/* Media Query for Large screens */

@media only screen and (min-width: 1281px) {
  .container {
    padding: 0.01em 16px;
    max-width: 1280px;
    margin: auto;
  }
}